html,
body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background: #f4e7bb;
}

* {
	box-sizing: border-box;
}

datalist {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 350px;
	width: 100%;
	height: 100%;
}

.wrapper :is(h1, h2, h3, h4, h5, h6) {
	text-align: center;
}

.viewDiv {
	min-height: 110px;
	height: 100%;
}

.controlTab {
	padding: 8px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	z-index: 1;
	height: 100%;
	overflow-y: scroll;
}

.rangeWithButtons {
	display: grid;
	column-gap: 8px;
	justify-items: center;
	grid-template-columns: auto 1fr auto;
}

#seasons-filter {
	height: 320px;
	width: 100px;
	visibility: hidden;
}

.season-item {
	width: 100%;
	padding: 12px;
	text-align: center;
	vertical-align: baseline;
	cursor: pointer;
	height: 40px;
}

.season-item:focus {
	background-color: dimgrey;
}

.season-item:hover {
	background-color: dimgrey;
}

.titleLabel {
	font-weight: bold;
	text-align: center;
}


.inputWithDatalist {
	display: inline-block;
	width: 100%;
}

#labely {
	width: 200px;
	text-align: center;

}

#rokyRange {
	text-align: center;
	color: #000000;

	width: 100%;
}

select {
	width: 200px
}

#optionsDiv {
	background-color: dimgray;
	color: white;
	padding: 10px;
	width: 350px;
}

.esri-popup .esri-popup-header .esri-title {
	font-size: 18px;
	font-weight: bolder;
}

.esri-popup .esri-popup-body .esri-popup-content {
	font-size: 14px;
}

.layersGrid {
	display: grid;
    grid-template-columns: auto auto;
	align-items: end;
    justify-items: start;
}

.splitTwo {
	display: grid;
    grid-template-columns: 1fr 1fr;
	column-gap: 5%;
}

#loadingProgressbar{
	width: 100%;
	height: 55px;
	line-height: 55px;
	color: #000;
	text-align: center;
}

progress:after {
	content: "Loading maps: " attr(value) " / " attr(max);
  }

  #lipsum{
	text-align:justify
} 
