.Button {
	height: 36px;
	
	color: var(--onSecondary);
	background-color: var(--secondary);
	
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    transition: .3s ease-out;

	text-decoration: none;
    text-align: center;
	letter-spacing: .5px;
	
	font-size: 14px;
    outline: 0;
	
	border: none;
    border-radius: 2px;
    display: inline-block;
    line-height: 36px;
    padding: 0 16px;
	text-transform: uppercase;
	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.Button:hover {
	color: var(--onSecondary-hover);
	background-color: var(--secondary-hover);
}

.Button:active {
	color: var(--onSecondary-active);
	background-color: var(--secondary-active);
}