.root {
	display: grid;
	column-gap: 60px;
	grid-template-columns: 1fr 300px;
}

.content {
	img {
		max-width: 100%;
	}
}

.rightPanel {
	display: grid;
	row-gap: 10px;
	grid-template-rows: repeat(10, auto) 1fr;
	
	word-break: break-all;
}

