.root {
	display: grid;
	column-gap: 50px;
	grid-template-columns: 1fr 300px;
}

.content {

}

.rightPanel {
	padding: 20px;

	display: grid;
	row-gap: 10px;
	grid-template-rows: repeat(10, auto) 1fr;
}

