.geographic {
	width: auto;

	margin: 50px 15%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

.dataBlock{
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 20px;
}
