:root {
	--palette-50: #FFF3E0;
	--palette-100: #FFE0B2;
	--palette-200: #FFCC80;
	--palette-300: #FFB74D;
	--palette-400: #FFA726;
	--palette-500: #FF9800;
	--palette-600: #FB8C00;
	--palette-700: #F57C00;
	--palette-800: #EF6C00;
	--palette-900: #E65100;
	--palette-A100: #FFD180;
	--palette-A200: #FFAB40;
	--palette-A300: #FF9100;
	--palette-A400: #FF6D00;

	--background: #121212;
	--onBackground: #fff;
	
	--surface: #1E1E1E;
	--onSurface: #fff;
	
	--primary: var(--palette-700);
	--primary-hover: var(--palette-900);
	--onPrimary: #fff;
	--onPrimary-hover: #fff;
	
	--secondary: var(--palette-600);
	--secondary-hover: var(--palette-800);
	--onSecondary: #fff;
	--onSecondary-hover: #fff;
}















