:root {
	--palette-50: #E1F5FE;
	--palette-100: #B3E5FC;
	--palette-200: #81D4FA;
	--palette-300: #4FC3F7;
	--palette-400: #29B6F6;
	--palette-500: #03A9F4;
	--palette-600: #039BE5;
	--palette-700: #0288D1;
	--palette-800: #0277BD;
	--palette-900: #01579B;
	--palette-A100: #80D8FF;
	--palette-A200: #40C4FF;
	--palette-A300: #00B0FF;
	--palette-A400: #0091EA;

	--background: #f5f5f5;
	--surface: #ffffff;
	--primary: var(--palette-700);
	--secondary: var(--palette-600);
	--onBackground: #000000;
	--onSurface: #000000;
	--onPrimary: #ffffff;
	--onSecondary: #ffffff;

}
