body {
	margin: 0;
	overflow: hidden;
}

.mainCanvas{

}

#datGui{
	position:absolute;
	top:0px;
	left:0px;

}

.crosshair{
    text-align: center;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    color: #a00;
}

#minimap{
	position:absolute;
	top:0px;
	right:0px;
	width: 250px;
	height: auto;
	opacity: 0.8;
	background: #00000066;
}

#infoBlock{
	position: absolute;
	top: 250px;
	right: 0px;
	width: 250px;
	
	box-sizing: border-box;
	overflow-y: hidden;
	background: #00000066;
	cursor: pointer;
	
	font-family: roboto, sans-serif;
	color: white;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	
	display: grid;
}

#infoBlock.visible{
	height: 21px;
}

#infoBlock img{
	width: 100%;
}

#infoBlockClose{
	height: 14px;
}

