body {
	margin: 0;
	overflow: hidden;
}

.mainCanvas{

}

#minimap{
	position:absolute;
	top:0px;
	right:0px;
	width: 250px;
	height: auto;
	opacity: 0.8;
	background-color: rgba(102, 102, 102, 0.39);
}

#infoBlock{
	position: absolute;
	top: 0;
	right: 250px;
}

button {	
	background: #000;
	border: none;
	color: white;
	padding: 15px 15px;
	font-size: 16px;
	cursor: pointer;
}
