.InputScene {
	width: 100%;

	padding: 20px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

}

.InputSceneRight{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}