.menuItem {
    overflow-x: auto !important;
}

.minimalisticScrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.minimalisticScrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.minimalisticScrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.minimalisticScrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
