.root{
	margin: 50px auto;
	padding: 50px;
	max-width: 1200px;
}

.main{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 50px;
	row-gap: 70px;
}
.more{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
	row-gap: 70px;
}

.mainCard{
	display: grid;
	row-gap: 20px;
}

.moreCard{
	display: grid;
	row-gap: 10px;

}

.picture{

}
.name{
	font-weight: bold;
}
.description{

}
