.root{
	margin: 50px auto;
	padding: 50px;
	max-width: 1200px;
}

.grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 50px;
	row-gap: 70px;
}

.personCard{
	display: grid;
	row-gap: 15px;
}

.picture{

}
.name{
	font-weight: bold;
}
.position{
	font-size: 70%;
}
.description{
    text-align: justify;
}
.mail{

}