.PageCategoryBlock {
	width: 100%;
	padding: 20px 10%;
}

.PageCategoryBlockItem {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 20px;
}

.PageCategoryList {
	margin: 50px;
	padding: 20px;
}

.PageCategoryView {
	padding: 10px 20px;
	min-height: 100px;
	cursor: pointer;
}

.PageCategoryView:hover {
	background: #eee;
}