.mainPage{
	width: 100%;
	height: 100%;

	background-color: var(--main-bg-color);
}

.welcomeScreen{
	width: 100%;
	height: auto;

	img{
		width: 100%;
		height: auto;
		filter: brightness(60%);
	}

}

.parallax{
	background-image: url("/prak/images/mainPageBackground.webp");

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: calc(100vh - 50px);;
    width: 100%;
    object-fit: cover;
}

.pageHeader{
	width: 100%;
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translate(-50%,0);
	
	font-size: 130px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.content{
	width: 70%;
	margin: 0 auto 0 auto;
	padding: 100px;

	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;

	.leftInfo, .rightInfo, .info{
		padding: 30px;

		img{
			width: 100%;
			height: auto;
		}
	}
	
	.leftInfo{
		display: grid;
		grid-template-columns: minmax(auto, 200px) 1fr;
		column-gap: 20px;
		
		h1{
			grid-column: 1 / span 2;
		}
	}
	
	.rightInfo{
		display: grid;
		grid-template-columns: 1fr minmax(auto, 200px);
		column-gap: 20px;
		
		h1{
			grid-column: 1 / span 2;
		}
	}
}
