@import "../../../../styles/objectDefinition/materialDesign.scss";

.ProgressBar{
	width: 100%;
	height: 10px;

	background: var(--palette-100);
	
    box-shadow: 1px 1px 6px rgba(0,0,0,.16);
    box-sizing: border-box;

	.pointer{
		width: 0%;
		height: 10px;
		background: var(--palette-800);
	}
}