.ShowScene {
	width: 100%;
	padding: 50px 15%;
}

.dataBlock{
	width: 100%;
	padding: 20px;
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 20px;
	margin: 0 0 50px 0;
}

.header{
	padding: 20px;
	text-align: center;
}

.body{
	margin: 50px 0;
	padding: 100px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	column-gap: 50px;
	row-gap: 50px;
}

.body pre{
	margin: 0;
	font-family: roboto;
}

.footer{
	width: calc(50% - 30px);
}

.cursorPoiter{
	cursor: pointer;
}

.resultsBlock{
	height: 400px;
	width: 100%;
	margin: 50px 0;
}

.resultTagSelector{
	display: flex;
	padding: 30px;
	column-gap: 30px;
	row-gap: 30px;
}

.resultTag{
	display: grid;
}

.resultTagValue{

}

.tagCount{
	font-size: x-small;
	color: #aaa;
}
