.ShowScene {
	width: 100%;
}

.dataBlock{
	width: 100%;
	padding: 20px;
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 20px;
	margin: 0 0 50px 0;
}

.header{
	padding: 20px;
	text-align: center;
	margin: 50px 15% 0 15%;
}

.MuiChip-label{
	
}

.phasesBlock{
	display: grid;
	align-items: start;
	grid-template-columns: 280px auto 280px;
	column-gap: 10px;
}

.body{
	margin: 50px 10px;
	padding: 5px;
	display: grid;
	row-gap: 5px;

	h5{
		justify-self: center;
	}
}

.body pre{
	margin: 0;
	font-family: roboto;
}

.footer{
	width: calc(50% - 30px);
}

.helperBlock{
	margin: 50px;
	padding: 20px;
}

.cursorPoiter{
	cursor: pointer;
}

.resultsBlock{
	width: 100%;
	margin: 50px 0;
	display: grid;
	row-gap: 15px;
}

.resultBlockControls{
	width: 100%;
	display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.resultBlockItem{
	padding: 10px;
}

.resultTagSelector{
	margin: 50px 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.resultTagSelector h3{
	text-align: center;
	margin-block: 10px;
}

.chip span div{
	white-space: break-spaces !important,
}

.resultTag{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px;
}

.resultTagValue{

}

.tagCount{
	font-size: x-small;
	color: #aaa;
}
