.NewsBlock {
	width: 100%;
	padding: 20px 10%;
	background: #eee;
}

.NewsBlockItem {
	width: calc(100% - 150px);
	margin: auto;
	padding: 0 20px;
	background: #fff;
}

.NewsList {
	margin: 50px;
	padding: 20px;
}

.NewsView {
	padding: 10px 20px;
	min-height: 100px;
	cursor: pointer;
}

.NewsView:hover {
	background: #eee;
}